<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digi eye</title>
    {% load static %}
    <link rel="icon" href="{% static 'landing/icons/favicon.ico' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'landing/icons/font-awesome/css/all.css' %}"/>
  
    <link rel="stylesheet" href="{% static 'landing/styles/main.css' %}" />
  
  </head>
  <body>
    <div class="page-wrapper">
      <div class="content-wrapper">
        <h1>Welcome to the Sweet-potato project</h1>
        <br>
        <p>This tool automates the classification of sweet potato quality attributes using images: color and mealiness</p>
        <p>
          <a href="http://127.0.0.1:8000/pattern">
            Color classifier: 3 root sample 
          </a><span class="divider"> | </span> 
          <a href="http://127.0.0.1:8000/pattern/rgb">
            Color classifier: 1 root
          </a>
          <span class="divider"> | </span>
          <a href="http://127.0.0.1:8000/pattern/mealiness">
            Mealiness classifier
          </a> 
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
        <a href="https://github.com/airlab_mak">
          <i class="icon fab fa-github fa-2x"></i>
        </a>
       
        <a href="https://air.ug">
          <i class="icon fas fa-book fa-2x"></i>
        </a>
        <a href="mailto:henrymutegeki117@gmail.com">
          <i class="icon fas fa-envelope fa-2x"></i>
        </a>
      </div>
    </div>
  </body>
</html>
